@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.base {
  font-size: 76px;
  font-weight: 400;
  line-height: 76px;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  margin: 10px 0;

  .link {
    text-decoration: none;
    color: purple;
    border-radius: 10px;
    padding: 23px 20px 0px;

    &:hover {
      color: white;
      background-color: purple;
    }
  }
}