@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 $grid-gutter-width 12px;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  .navigation {
    text-align: right;

    button {
      margin-left: 12px;
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: space-between;

      button {
        margin: 10px 0;
      }
    }
  }
}