
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 $grid-gutter-width 12px;


  .navigation {
    text-align: right;

    button {
      margin-left: 12px;
    }

    
  }
}